<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Egg.js</title>
    <link rel="stylesheet" href="/public/styles/index.css" />
  </head>
  <body>
    <div class="banner block index-bg-light">
      <div class="banner-logo">
        <img src="https://zos.alipayobjects.com/rmsportal/JFKAMfmPehWfhBPdCjrw.svg" />
      </div>
      <div class="banner-info leftpadding">
        <h1>
          <p style="font-weight: bold; font-size: 48px;">Hello Egg.js</p>
          better enterprise frameworks and apps with Node.js &amp; Koa
        </h1>
      </div>
    </div>
  </body>
</html>
