<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Serverless Express.js 应用"/>
    <meta name="keywords" content="express,express.js,serverless,无服务"/>
    <title>Serverless - Express.js</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style lang="css">
      h1 {
        text-align: center;
        width: 600px;
        margin: 300px auto;
      }

    </style>
  </head>
  <body>
    <h1>
      欢迎访问 Express.js 应用
      <br />
      <a href="https://cloud.tencent.com/product/scf" target="_blank" rel="noopener noreferrer">
        腾讯云 Serverless
      </a>
      为您提供服务
    </h1>
    <div class="ciam-login">
      <% if (!isLogin) { %>
        <button class="ciam-button" onclick="loginHandle()">登录</button>
      <% } else { %>
        <div id="ciam-user"></div>
        <a class="ciam-logout" href="/logout">退出</a>
      <% } %>
    </div>
  </body>
  <script>
    const parseCookie = str =>
      str
      .split(';')
      .map(v => v.split('='))
      .reduce((acc, v) => {
        acc[decodeURIComponent(v[0].trim())] = decodeURIComponent(v[1].trim());
        return acc;
      }, {});

    let cookieObj = {};
    if (document.cookie) {
      cookieObj = parseCookie(document.cookie)
    }
    const ciamAccessToken = cookieObj.CIAM_ACCESS_TOKEN;
    const ciamDisplayName = cookieObj.CIAM_DISPLAY_NAME;

    const A_TAG_ID = "ciam-user-link";
    const createATag = () => {
      const link = document.createElement("a");
      link.setAttribute("href", `/userinfo?ciamAccessToken=${ciamAccessToken}`);
      link.setAttribute("id", A_TAG_ID)
      const text=document.createTextNode('你好，' + ciamDisplayName);
      link.appendChild(text);
      return link;
    }

    const main = () => {
      if (!!ciamAccessToken) {
        if (document.getElementById(A_TAG_ID)) {
          document.getElementById("ciam-user").removeChild(document.getElementById(A_TAG_ID));
        }
        const aTag = createATag();
        document.getElementById("ciam-user").appendChild(aTag);
      }
    }

    main();

    function loginHandle() {
      window.location.href = "/login";
    }
    
  </script>
</html>
