component: scf
name: ap-guangzhou_default_API_GW_WebPage_Demo
org: app
app: API_GW_WebPage_Demo
stage: dev
inputs:
  name: API_GW_WebPage_Demo
  src: ./
  description: >-
    This demo is mainly to show how to set up personal web page in serverless
    with apigateway. 本示例主要通过 SCF 结合 API 网关，快速实现一个对公网服务的 Web 页面。
  handler: index.main_handler
  runtime: Python3.6
  namespace: default
  region: ap-guangzhou
  memorySize: 128
  timeout: 3
  events:
     - apigw: # api网关触发器
        name: serverless
        serviceId: # input API gateway serviceId
        parameters:
          protocols:
            - http
          description: the serverless service
          environment: release
          endpoints:
            - path: /
              method: GET
              function:
                isIntegratedResponse: TRUE
