component: scf
name: ap-guangzhou_default_unpack_to_cos
org: app
app: unpack_to_cos
stage: dev
inputs:
  name: unpack_to_cos
  src: ./
  description: >-
    上传压缩包至COS时，可触发云函数下载压缩包并解压，然后将解压缩后的文件上传至另一个 COS 存储桶
  handler: index.main_handler
  runtime: Nodejs10.15
  namespace: default
  region: ap-guangzhou
  memorySize: 128
  timeout: 900
  events:
     - cos: # cos触发器
        name: # input cosname.cos.region.myqcloud.com  //e.g. xxx.cos.ap-chengdu.myqcloud.com
        parameters:
          bucket: # input cosname.cos.region.myqcloud.com  //e.g. xxx.cos.ap-chengdu.myqcloud.com
          filter:
            prefix: 
            suffix: 
          events: cos:ObjectCreated:*
          enable: true