component: scf
name: ap-guangzhou_default_api_service
org: app
app: api_service
stage: dev
inputs:
  name: api_service
  src: ./
  description: >-
    This demo uses API GW to provide API service. You can expand to do WEB API
    based on this. 本示例演示基于API网关提供博客内的文章查询和文章内容，您可以扩展函数来实现 Web 后端服务
  handler: api_service.main_handler
  runtime: Python3.6
  namespace: default
  region: ap-guangzhou
  memorySize: 128
  timeout: 3
  events:
     - apigw: # api网关触发器
        name: serverless
        serviceId: # input API gateway serviceId
        parameters:
          protocols:
            - http
          description: the serverless service
          environment: release
          endpoints:
            - path: /
              method: GET
              function:
                isIntegratedResponse: TRUE

